.card-img, .card-img-bottom, .card-img-top {

    height: 120px;
}

.desk {
    margin-top: 80px;
    float: right;
    display: flex;
    justify-content: space-around;
}

.cardBody {
    height: 7%;
}

.rowControlSize {

    margin-left: 10%;
}
.labelAd{
    margin-top: 10px;
    font-size: 30px;
    
}
