@import url('https://fonts.googleapis.com/css2?family=Acme&family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

.WelcomePage{
    height: 100vh !important;
    background-color: rgba(198, 210, 214, 1);
}
#navbar{
    background-color: #247BA0;
    height: 10%;
}
.navlink{
    color: #F3FFBD !important;
}
.navbarSpan{
    color: #F3FFBD !important;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    padding: 0 !important;
    text-transform: lowercase !important;
}
.containerr{    
    width:100vw !important;
    max-width: 100% !important;
    height: 65%;
    background-image: url('../../images/openbookbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(23, 23, 24, 0.24);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
#quote{
    background-color:rgba(23, 23, 24, 0.24);
}
#quote>h1{
    font-family: 'Acme', sans-serif;
    text-align: center;
    color: mintcream;
    font-size: 70px !important;
}
.loginForm{
    background-image: url("https://previews.123rf.com/images/microone/microone1812/microone181200305/112856531-sketch-vintage-books-seamless-pattern-or-background-sketch-education-seamless-book-for-school-litera.jpg");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid grey 2px;
    border-radius: 5px;
    color: white !important;
}
.form-label{
    text-align: left !important;
}
.about{
    height: 35%;
    font-family: 'Source Serif Pro', serif;
    
}
.signinIcons{
    height: 15%;
    color: white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.781) ;
}
.signinSpan{
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
}
.signinIcons{
    text-align: center;
}
.tabsTitle{
    color: #247BA0 !important;
}
.tabsTitle>.active{
    background-color: rgba(198, 210, 214, 0.5) !important;
    color: white !important;
}