@import url('https://fonts.googleapis.com/css2?family=Acme&family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

.categoriesPage>h1{
    color: black;
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 70px !important;
}
/* ul{
    text-align: left;
    font-weight: normal;
    padding-left: 0%;
    font-size: 15px;
} */

.lamis{
    max-width: 16rem !important;
    min-width: 16rem !important;
}