@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');

.bookDetails{
    font-size: 17px;
}
.bookname{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Balsamiq Sans', cursive;
}
.bookProfile{
    width: 90%;
}
.starRating>span{
    width: 50px !important;
    height: 20px !important;
}