.footer{
    height: 20%;
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
ul {
    text-align: left;
    list-style-type: none;
    font-size: 13px;
}