@import url('https://fonts.googleapis.com/css2?family=Acme&family=Raleway:wght@200&display=swap');

.listingCategories{
    height: 100vh;
}
.desk{
    margin-top: 80px;
    float: right;
    display: flex;
    justify-content: space-around;
}

.cardBody{
height: 30%;
}

.rowControlSize{

    margin-left: 10%;
}
.categoryCrads{
    height: 100% !important;
}
.listingCategories>h1{
    color: black;
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 70px !important;
}